.pybuild/
build/
*.egg-info/
debian/debhelper-build-stamp
debian/files
debian/python-*.debhelper.log
debian/python-*.postinst.debhelper
debian/python-*.prerm.debhelper
debian/python-*.substvars
debian/python-*/

