-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

argparse; python_version<'3'        # via unittest2
nose
coverage
linecache2; python_version<'3'      # via traceback2
six; python_version<'3'             # via unittest2
traceback2; python_version<'3'      # via unittest2
unittest2; python_version<'3'
