Source: katpoint
Section: python
Priority: optional
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 10),
 dh-python,
 katversion,
 python3-all,
 python3-setuptools,
 python3-ephem
Standards-Version: 4.6.1
Homepage: https://github.com/ska-sa/katpoint
Vcs-Git: git://github.com/kernsuite-debian/katpoint.git
Vcs-Browser: https://github.com/kernsuite-debian/katpoint
X-Python3-Version: >= 3.3

Package: python3-katpoint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends},
 python3-katversion, python3-ephem
Description: Karoo Array Telescope pointing coordinate library
 Coordinate library for the MeerKAT project, providing astronomical coordinate
 transformations, antenna pointing models, correlator delay models, source
 flux models and basic source catalogues, using an existing coordinate
 library such as PyEphem to do the low-level calculations.
