#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export PYBUILD_NAME=katpoint
export PYBUILD_TEST_ARGS={dir}/katpoint/test
# Set the test runner to pytest
export PYBUILD_TEST_RUNNER=pytest
export PYTHONPATH := $(CURDIR)/debian/python_shims:$(PYTHONPATH)

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	mkdir -p debian/python_shims
	echo "import importlib.util; from importlib import reload" > debian/python_shims/imp.py
	dh_auto_test
